.technical_accounts {
  .process_request_container {
    padding: 1.25rem;
    background: $white;
    .folder_buttons {
      display: inline-block;
      .custom {
        color: $gray;
        padding: 1.25rem 0;
        background: transparent;
        outline: none;
        border: none;
        display: inline-flex;
        justify-content: center;
        text-decoration: none;
        padding-right: 1.25rem;
        &.active {
          color: $blue;
          font-weight: 800;
        }
        ~ .underline {
          @include Transform(translate(0));
          width: 6.2rem;
          height: 0.25rem;
          background-color: $blue;
          @include Transition(250ms ease-in-out transform);
          &.active-0 {
            @include Transform(translateX(0));
            width: 6.2rem;
          }
          &.active-1 {
            @include Transform(translateX(7.5rem));
            width: 0;
          }
        }
      }
    }

    &:before {
      position: absolute;
      content: "";
      right: 0;
      left: 0;
      height: 1rem;
      background-color: $gold;
      top: -1rem;
    }

    &:after {
      position: absolute;
      content: "";
      right: 0;
      left: 0;
      height: 2rem;
      background-color: $blue;
      top: -3rem;
    }
  }

  @include breakpoint-screen(xs) {
    .process_request_container {
      .folder_buttons {
        .custom {
          width: 5.75rem;
          ~ .underline {
            width: 0;
            &.active-0 {
              @include Transform(translateX(0));
              width: 0;
            }
            &.active-1 {
              @include Transform(translateX(5.2rem));
              width: 0;
            }
          }
        }
      }
    }
  }
}
